*{
        padding: 0;
        margin: 0;
}

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}

html, body{
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
    font-family: arial;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    color: #115599;
}

.margin-top5{
    margin-top: 5px;
}

#bar-top{
    overflow: hidden;
    margin: 0px auto;
    max-width: 1200px;
    height:auto;
    background: #00549a; 
}


#usuario{
    float: right;
    overflow: hidden;
}

#usuario a{
    /*color: #888;*/
    padding-left: 4px;
}

#usuario a.perfil{
    color: #12ADEE;
}

#contenedor{
    margin: 0px auto;
    background-color: #FFFFFF;
    max-width: 1200px;
    min-height: 100%;
    height: auto!important;
    height: 100%;
    padding: 0px 10px;
    overflow: hidden;


}

header{
        width: 100%;
        overflow: hidden;
}

.grid-header{
	width: 100%;
	max-width: 1200px;
}

.grid-header:after {
	content: "";
	display: table;
	clear: both;
}


/*Nav top*/

ul.navTop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navTop li {
    float: left;
}

ul.navTop li a {
    display: block;
    color: #FFF;
    padding: 6px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    border-bottom: 3px solid transparent;
}

ul.navTop li a:hover{
    background-color: #FFF;
    color: #555;
    border-bottom: 3px solid #bdce0c;
}

.text_user{
    color: #FFF;
    font-weight: 600;
}




/*Logo LUZ*/
#logoLuz, #logo{
        float: left;
        overflow: hidden;
}

#logoLuz img{
        /*width: 65px;*/
    height: 80px;
    float: left;
    padding-top: 10px;
}

#logoLuz p{
    padding-top: 22px;
    float:left;
    font-family:"Times New Roman",Georgia,Serif;
    color: #00549A;
    font-weight: 600;
}
#logoLuz p span#delZulia{
        font-size: 22px;
}

/*Logo Revista*/
#logo img{
    padding-left: 20px;
    padding-right: 20px;
    height: 75px;
    margin-top: 10px;
}

#logo p{
    font-size: 34px;
    padding-top: 24px;
    overflow: hidden;
}
#logo p a{
    font-family: arial;
    float: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    padding: 2px;
}
#logo p a:nth-child(1){
    color: #00549A;
}

#logo p a:nth-child(2){
    color: #12ADEE;
    padding-left: 5px;
}

.logoRevista2{
    display: inline;
}

.logoRevista2{
    display: none;
}

.caja_search{
    float: right;
    padding: 30px 5px 0;
    width: 40%;
}


/*menu horizoltal*/
nav#menu_horizontal{
        height: 35px;
        width: 100%;
        background-color: #00549A;
        z-index: 30;
}
nav#menu_horizontal ul{
        padding: 0;
        margin: 0;
        overflow: hidden;
        z-index: 40;
}


nav#menu_horizontal ul li{
        list-style: none;
        float: left;
        text-align: left;
        width: 16.666%;
        height: 35px;
        z-index: 50;
        display: block;
}

nav#menu_horizontal ul li:nth-child(3n+1){
        background-color: #BDCE0C;
}

nav#menu_horizontal ul li:nth-child(3n+2){
        background-color: #12ADEE;
}

nav#menu_horizontal ul li:nth-child(3n+3){
        background-color: #FCC32E;

}

nav#menu_horizontal ul li a{
        /*width: 166px;*/
        display: block;
        padding: 0px 0px;
        line-height: 30px; 
        background-color: #00549A;
        color: #FFF;
        padding-left: 5px;
        text-decoration: none;
        z-index: 60;
}
nav#menu_horizontal ul li a:hover{
        background-color: #BDCE0C;
        color: #000;
}


/*sub-menu horizontal*/
/*nav#menu_horizontal ul li ul { 
    position: absolute;  
    display: none;
} 
nav#menu_horizontal ul li:hover ul { 
    display: block; 
} 
nav#menu_horizontal ul li ul li:nth-child(n) { 
    float: none;
    padding: none;
    padding-top: 0px;
    display: block;
    width: 160%;
    height: 35px;
    background-color: #00549A;
}


nav#menu_horizontal ul li ul li a { 
        height: 35px;
        line-height: 32px; 
}
*/



/* Estilos #nav-mobile y lo ocultamos */
#nav-mobile{
    display: none;
    background: url('../img/nav.png') no-repeat center center;
    float: right;
    width: 34px;
    height: 34px;
    opacity: .6;
}
 
    /* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
    #nav-mobile.nav-active{
        opacity: 1;
    }


/*
Contenido
aside panel left
*/
section#caja_contenido{
        max-width: 1200px;
        background-color: green;
}
aside#panel_left{
        background-color: white;
        width: 18.66%;
        float: left;
}

aside#panel_right{
        background-color: white;
        width: 18.66%;
        float: left;
        overflow: hidden;
}

section#contenido{
        width: 62.68%;
        background-color: white;
        float: left;
}

section#contenido p{
    text-align: justify;
}

section#contenido #pad_content{
    overflow: hidden;
    margin: 0px 5px;
    padding: 0px 5px;
}

ul.list_user_group{
    list-style-type: none;
}

/*menu vertical*/
nav.menu_vertical{
        border-top: 4px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #EEEEEE;
        overflow: hidden;
}

nav.menu_vertical ul{
        list-style: disc outside url("../img/list.gif");
        font-size: 14px;
        margin-left: 15px;
}

nav.menu_vertical ul li:nth-child(n) a{
        color: #666666;
}

nav.menu_vertical ul li.current {
          list-style: disc outside;
}

nav.menu_vertical ul li.current a{
          color: #00549A;
}
/*nav.menu_vertical ul li:nth-child(1) a{
        color: #00549A;
}*/

#tabs{
    overflow: hidden;
}

#tabs-1{
    overflow: scroll;
    height: 600px;
}

#btn_tabs{
    padding-top: 10px;
}

.btn-right{
    float: right;
    margin-left: 5px;
}

.caja_btn_submit{
    width: 100px;
    margin: 0 auto;
}

.corte {clear: both;padding-top: 2em;}

.error{
    color: red;
    font-size: 12px;
    display: block;
    font-weight: bold;
}

.text-success{
    color: green;
    font-size: 12px;
    display: block;
    font-weight: bold;
}

.controls{
    margin: 10px 0px;
}

.controls label, .help-block{
    font-size: 16px;
    font-weight: normal;
}

.separador{
    color: #12ADEE;
}

.icon_gly{
    margin-right: 5px;
}


footer{
    text-align: center;
    margin: 4px auto;
    font-size: 14px;
    color: gray;
}


/*LOGIN*/
.form-signin{max-width:330px;margin:0 auto;padding:15px;}
.form-signin .form-signin-heading,.form-signin .checkbox{margin-bottom:10px;}
.form-signin .checkbox{font-weight:normal;}
.form-signin .form-control{position:relative;font-size:16px;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
.form-signin .form-control:focus{z-index:2;}
.form-signin input[type="text"]{margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.form-signin input[type="password"]{margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}
.account-wall{margin-top:20px;background-color:#f7f7f7;-moz-box-shadow:0 2px 2px rgba(0,0,0,0.3);-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3);box-shadow:0 2px 2px rgba(0,0,0,0.3);padding:40px 0 20px; border: 1px solid #ccc; overflow: hidden;}
.login-title{color: #115599;font-size:24px;font-weight:400;display:block;}
.profile-img{width:96px;height:96px;display:block;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;margin:0 auto 10px;}
.need-help{margin-top:10px;}
.new-account{display:block;margin-top:10px;}

/*registro*/
.control_input{
    overflow: hidden;
}

#registro{
    padding: 15px;
}

.input_inline{
    display: inline-block;
}

.text_ejemplo{
    font-weight: 400;
    font-size: 12px;
}


.campo_date{

    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: rgb(85, 85, 85);
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;

}


@media handheld, only screen and (max-width: 768px) {

    #logo{
        float: left;
        width: 50%;
    }

    #logo img{
        float: right;
    }

    #logoLuz{
        float: left;
        width: 50%;
    }

    .caja_search{
        width: 100%;
        float: left;
        padding-top: 10px;
    }


    #nav-mobile{ display: block; }

    nav#menu_horizontal{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    nav#menu_horizontal ul{
        max-height: 0;
        width: 100%;
        overflow: hidden;
        /*padding-top: 34px;*/
    }


    nav#menu_horizontal ul li:nth-child(n){
        background-color: #00549A;
        float: none;
        width: 100%;
    }

    nav#menu_horizontal ul li a{
        height: auto;
        padding: 5px 0px;
        text-align: center;
        /*line-height: normal;*/
        color: #fff;
         background-color: none;
    }

    nav#menu_horizontal ul li:nth-child(n) a:hover{
        background-color: #BDCE0C;
    }

    nav#menu_horizontal ul.open-menu{
            max-height: 400px;
            transition: max-height .4s;
    }

   #search-box {
        margin: 0;
        width: 100%;
    }

	
	.grid-header {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
                
	}
        
        .caja_search{
            padding-bottom: 5px;
        }
	
	[class*='col-'] {
		width: auto;
		float: none;
		clear: both;
                -webkit-transition: width .4s;
                -moz-transition: width .4s;
                -ms-transition: width .4s;
                -o-transition: width .4s;
                transition: width .4s;
	}

    aside#panel_left, aside#panel_right{
        display: none;
    }

    section#contenido{
        width: 100%;
    }

}

@media handheld, only screen and (max-width: 480px) {

    .logoRevista1{
        display: none;
    }

    .logoRevista2{
        display: inline;
    }

    .text_logo_luz{
        display: none;
    }

}

@media handheld, only screen and (max-width: 460px) {

    
}

@media handheld, only screen and (max-width: 410px) {

}
